<% provide(:title, "Homepage") %>
<div>
  <%= render 'shared/content_designpg' %>
  <%= render 'shared/footer' %>
</div>
<div class="">
  <%= render 'shared/header' %>
  <%= render 'shared/content_homepg' %>
  <%= render 'shared/footer' %>
</div>
