<!-- content_usertypes_general_styling.css -->
<!-- content_designpg.css.scss -->
<div class="medium-12 columns content_designpg_section content_users_babysitterspg_section">
  <div class="usertypes_inner_section">
    <!-- upper_section -->
    <%= render 'shared/content_upper_content' %>
    <!-- upper_section -->
    <div class="clear"></div>
    <!-- section -->
    <div class="medium-12 columns content_section"><div class="content_inner_section"></div></div>
    <!-- section -->
  </div>
</div>

<!-- main_content -->
<div class="medium-12 columns content_usertypes_section">
  <div class="content_inner">
    <div class="page_content">

      <!-- search_section -->
      <div class="user_search_section">
        <div class="serach_block">
          <%= search_form_for @search, url: search_babysitters_path do |f| %>
            <div>
              <%= f.select :category_gender_id_eq, options_from_collection_for_select(CategoryGender.all, "id", "name", @search.category_gender_id_eq), prompt: "Select Gender" %>
              <%= f.select :category_town_id_eq, options_from_collection_for_select(CategoryTown.order(:name), "id", "name", @search.category_town_id_eq), prompt: "Select Town" %>
            </div>
            <div><%= link_to "display all", search_babysitters_path, style: "color:#fff;", class: "button btn_display" %></div>
            <div><%= f.submit class: "button btn_submit" %></div>
          <% end %>
        </div>
      </div>
      <!-- search_section -->

      <div class="clear"></div>

      <!-- about_section -->
      <div class="medium-12 columns image_cover">
        <div class="medium-12 columns image_text">
          <div class="text_content">
            <div class="img_header">babysitter</div>
            <div class="sub_text">
              <div class="upper_text_info">Babysitters are short-term caretakers who are typically hired to watch the children for a set period. Babysitters often stay with children while their parents go on a date or meet the children after-school if the parent aren’t available.</div>
              <div>Please use the search facility above to refine your search.</div>
            </div>
          </div>
        </div>
      </div>
      <!-- about_section -->

      <div class="clear"></div>

      <!-- data -->
      <% if @users.present? %>
        <div><%= render 'shared/search_usertype_data' %></div>
      <% else %>
        <div><%= render 'shared/content_no_listing' %></div>
      <% end %>
      <!-- data -->
    </div>
  </div>
</div>
