<!-- static_pages_content.css.scss -->
<div class="medium-12 columns content_static_pages content_aboutuspg_section ">
  <div class="content_inner">
    <div class="page_content">

      <!-- content -->
      <div class="clear"></div>
      <div class="page_info">
        <div class="page_header">frequently asked questions (FAQs)</div>
        <div class="page_section">
          <div class="page_text_info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure <span class="weblink"><%= link_to "dolor", "#" %></span> in reprehenderit in voluptate velit esse cillum dolore.
          </div>
          <div class="listings">
            <ul>
              <li><%= link_to "What is Childmindr.net?", ".content1", rel: "relativeanchor" %></li>
              <li><%= link_to "How do I search for childcare school?", ".content2", rel: "relativeanchor" %></li>
              <li><%= link_to "How do I contact a childcare provider?", ".content3", rel: "relativeanchor" %></li>
              <li><%= link_to "How do add a school to the listing?", ".content4", rel: "relativeanchor" %></li>
              <li><%= link_to "How are rating scores calculated?", ".content5", rel: "relativeanchor" %></li>
            </ul>
          </div>
        </div>

        <div class="page_section">
          <div class="page_title content1">What is Childmindr.net?</div>
          <div class="page_text_info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>

        <div class="page_section content2">
          <div class="page_title">How do I search for childcare school?</div>
          <div class="page_text_info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>

        <div class="page_section content3">
          <div class="page_title">How do I contact a childcare provider?</div>
          <div class="page_text_info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>

        <div class="page_section content4">
          <div class="page_title">How do add a school to the listing?</div>
          <div class="page_text_info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>

        <div class="page_section content5">
          <div class="page_title">How are rating scores calculated?</div>
          <div class="page_text_info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
      <!-- content -->

    </div>
  </div>
</div>













