<div class="medium-12 columns content_designpg_section">
  <!-- upper_section -->
  <div class="upper_content">
    <div class="background_content"></div>
    <div class="middle_content">
      <div class="inner_middle_content">
        <div class="medium-12 columns header_content">

          <!-- left_section -->
          <div class="left_content">
            <div class="main_logo">childmindr</div>
            <div class="logo_text">your local child care finder</div>
          </div>
          <!-- left_section -->

          <!-- right_section -->
          <div class="right_content">
            <div class="contact_title">contact:</div>
            <div class="contact_list">
              <div>8901 Marmora Road, Glasgow, D04 89GR</div>
              <div class="tel">telephone (GH): +233 55 209 9793</div>
              <div class="tel">telephone (UK): +44 77 22 016771</div>
            </div>
          </div>
          <!-- right_section -->
        </div>
        <div class="clear"></div>

        <div class="image_display_content">
          <div class="image_inner_content">
            <div class="tab_header">
              <ul>
                <li>
                  <%= link_to "#", class: "tab_tilt_left colour_red" do %>
                    <div class="tab_text_tilt_left">about</div>
                  <% end %>
                </li> 
                <li>
                  <%= link_to "#", class: "tab_tilt_right colour_orange" do %>
                    <div class="tab_text_tilt_right">home</div>
                  <% end %>
                </li> 
                <li>
                  <%= link_to "#", class: "tab_tilt_left colour_yellow" do %>
                    <div class="tab_text_tilt_left">teachers</div>
                  <% end %>
                </li> 
                <li>
                  <%= link_to "#", class: "colour_green" do %>
                    <div class="">events</div>
                  <% end %>
                </li> 
                <li>
                  <%= link_to "#", class: "tab_tilt_right colour_deepblue" do %>
                    <div class="tab_text_tilt_right">activities</div>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#", class: "tab_tilt_left colour_lightblue" do %>
                    <div class="tab_text_tilt_left">FAQ</div>
                  <% end %>
                </li> 
                <li>
                  <%= link_to "#", class: "tab_tilt_right colour_purple" do %>
                    <div class="tab_text_tilt_right">tab_07</div>
                  <% end %>
                </li> 
                <li>
                  <%= link_to "#", class: "colour_thinking" do %>
                    <div class="">tab_07</div>
                  <% end %>
                </li> 
                <li>
                  <%= link_to "#", class: "tab_tilt_right colour_thinking" do %>
                    <div class="tab_text_tilt_right">contacts</div>
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="clear"></div>
            <div class="main_img_cover">
              <div class="inner_img_cover"><%= image_tag("img_homepg03.png") %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- upper_section -->

  <div class="clear"></div>

  <!-- section -->
  <div class="medium-12 columns content_section">
    <div class="content_inner_section">
      <div class="section_main_info">
        <!-- about us / our childcarers / our nurseries -->

        <!-- section -->
        <div class="medium-4 columns mini_section" style="padding-left:0px">
          <div class="mini_inner_section">
            <div class="mini_content_title">about us</div>
            <div class="img_text_section">
              <div class="mini_image_section"><%= image_tag("img_homepg03.png") %></div>
              <div class="mini_text_section">
                <div class="mini_text_title">Lorem ipsum dolor sit amet</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
              </div>
              <div><%= link_to '', '#', class: "fa fa-youtube", target:"_blank" %></div>
            </div>
          </div>
        </div>

        <!-- section -->
        <div class="medium-4 columns mini_section">
          <div class="mini_inner_section">
            <div class="mini_content_title">our childcarers</div>
            <div class="img_text_section">
              <div class="mini_image_section"><%= image_tag("img_homepg03.png") %></div>
              <div class="mini_text_section">
                <div class="mini_text_title">Lorem ipsum dolor sit amet</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
              </div>
              <div><%= link_to '', '#', class: "fa fa-youtube", target:"_blank" %></div>
            </div>
          </div>
        </div>

        <!-- section -->
        <div class="medium-4 columns mini_section" style="padding-right:0px">
          <div class="mini_inner_section">
            <div class="mini_content_title">our nurseries</div>
            <div class="img_text_section">
              <div class="mini_image_section"><%= image_tag("img_homepg03.png") %></div>
              <div class="mini_text_section">
                <div class="mini_text_title">Lorem ipsum dolor sit amet</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
              </div>
              <div><%= link_to '', '#', class: "fa fa-youtube", target:"_blank" %></div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- section -->
</div>







