<!-- content_usertypes_general_styling.css -->
<div class="medium-12 columns content_users_babysitterspg_section content_usertypes_section">
  <div class="content_inner">
    <div class="page_content">

      <!-- search_section -->
      <div class="user_search_section">
        <div class="serach_block">
          <%= search_form_for @search, url: search_nannies_path do |f| %>
            <div>
              <%= f.select :category_gender_id_eq, options_from_collection_for_select(CategoryGender.all, "id", "name", @search.category_gender_id_eq), prompt: "Select Gender" %>
              <%= f.select :category_town_id_eq, options_from_collection_for_select(CategoryTown.all, "id", "name", @search.category_town_id_eq), prompt: "Select Town" %>
            </div>
            <div><%= link_to "display all", search_nannies_path, style: "color:#fff;", class: "button btn_display" %></div>
            <div><%= f.submit class: "button btn_submit" %></div>
          <% end %>
        </div>
      </div>
      <!-- search_section -->

      <div class="clear"></div>

      <!-- about_section -->
      <div class="medium-12 columns image_cover">
        <div class="medium-5 columns image_text">
          <div class="text_content">
            <div class="img_header">Nanny</div>
            <div class="sub_text">
              <div class="upper_text_info">A nanny provides care for your child in your own home. This means your child’s routine won’t be disrupted, and they’ll have plenty of one-to-one attention. It’s also convenient, as you’ll be able to leave for work without having to rush to drop your child off at a nursery or childminder. You can have a live-in nanny, who will have her own space in your home, or a day nanny.</div>
              <div>Please use the serach facility above to refine your search.</div>
            </div>
          </div>
        </div>
        <div class="medium-7 columns backgrd_img"><%= image_tag("img_homepg.png") %></div>
      </div>
      <!-- about_section -->

      <div class="clear"></div>

      <!-- data -->
      <% if @users.present? %>
        <div><%= render 'shared/search_usertype_data' %></div>
      <% else %>
        <div><%= render 'shared/content_no_listing' %></div>
      <% end %>
      <!-- data -->
    </div>
  </div>
</div>













