<div class="medium-12 columns content_homepg_section">
  <div class="content_inner">
    <div class="page_content">
      <div class="header">your local Childcare finder</div>
      <div class="medium-12 columns image_cover">
        <div class="medium-5 columns image_text">
          <div class="text_content">
            <div class="img_header">find local childcare</div>
            <div class="sub_text">Select the type of childcare and town you are looking for.</div>
          </div>
          <div class="search_content">
            <%= search_form_for @search, url: child_carers_path do |f| %>
              <ul>
                <li>
                  <div class="serach_header">i am looking for a...</div>
                  <div><%= f.select :category_service_id_eq, options_from_collection_for_select(CategoryService.all, "id", "name", @search.category_service_id_eq), prompt: "Select Service" %></div>
                </li>
                <li>
                  <div class="serach_header">in the following area...</div>
                  <div><%= f.grouped_collection_select :category_town_id_eq, CategoryZone.order(:name), :category_towns, :name, :id, :name, include_blank: false, prompt: "Select Area" %></div>
                </li>
              </ul>
            <% end %>
          </div>

        </div>
        <div class="medium-7 columns backgrd_img"><%= image_tag("img_homepg.png") %></div>
      </div>

      <div class="medium-12 columns site_content">
        <div class="minor_content"><span class="highlight">Childmindr.net</span> is an online social networking platform for parents looking to find the right schools for their children. Start your childcare search today, It's free and easy.</div>
      </div>

      <div class="medium-12 columns search_click_content">
        <div class="serach_cover_btn">
          <%= link_to child_carers_path do %>
          <div class="link_header">search for childcare now</div>
          <div class="link_minor_content">Do a quick free search, no registration required.</div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>







