<!-- static_pages_content.css.scss -->
<div class="medium-12 columns content_static_pages content_advisepg_section ">
  <div class="content_inner">
    <div class="page_content">

      <!-- search_section -->
      <div class="search_section">
        <div class="search_seletor">
          <%= select_tag "list", options_from_collection_for_select(@category, "id", "name") %>
        </div>
        <!-- search_schoolname -->
        <div class="statecontent 1">
          <%= search_form_for @search, url: schools_path do |f| %>
            <div>
              <%= f.search_field :name_cont, placeholder: "eg: Belmar Kindergarten" %>
            </div>
            <div><%= link_to "display all", schools_path, style: "color:#fff;", class: "button btn_display" %></div>
            <div><%= f.submit class: "button btn_submit" %></div>
          <% end %>
        </div>
        <!-- search_town -->
        <div class="statecontent 2">
          <%= search_form_for @search, url: schools_path do |f| %>
            <div>
              <%= f.select :category_town_id_eq, options_from_collection_for_select(CategoryTown.all, "id", "name", @search.category_town_id_eq), prompt: "Select Town" %>
            </div>
            <div><%= link_to "display all", schools_path, style: "color:#fff;", class: "button btn_display" %></div>
            <div><%= f.submit class: "button btn_submit" %></div>           
          <% end %>
        </div>
      </div>
      <!-- search_section -->

      <!-- content -->
      <div class="clear"></div>
      <div class="page_info">
        <div class="page_header">help and advise</div>

        <div class="page_section">
          <div class="page_title">preparing your child for nursery</div>
          <div class="page_text_info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>

        <div class="page_section">
          <div class="page_text_info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>

        <div class="page_section">
          <div class="page_title">starting nursery</div>
          <div class="page_text_info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure <span class="weblink"><%= link_to "dolor", "#" %></span> in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
          <div class="listings">
            <ul>
              <li>duis aute irure dolor</li>
              <li>qui officia deserunt mollit</li>
              <li>qui officia deserunt mollit</li>
            </ul>
          </div>
        </div>

        <div class="page_section">
          <div class="page_title">parent's guide to nursery readiness</div>
          <div class="page_text_info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>

        <div class="page_section">
          <div class="page_text_info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
      <!-- content -->

    </div>
  </div>
</div>













