<!-- static_pages_content.css.scss -->
<div class="medium-12 columns content_static_pages content_latestreviewspg_pages ">
  <div class="content_inner">
    <div class="page_content">

      <!-- content -->
      <div class="clear"></div>
      <div class="page_info">
        <div class="page_header">latest reviews</div>

        <div class="page_section">
          <div class="page_title">latest ratings on schools</div>
          <div class="page_text_info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>

      <!-- reviews -->
      <div class="medium-12 columns school_reviews">
        <ul>
          <% @schools.each do |school| %>
            <%= link_to school do %>
            <li class="medium-12 columns">
              <div class="medium-12 columns school_list_review">
                <div class="medium-6 columns school_name_section">
                  <span>
                    <% if school.image.present? %>
                      <%= cl_image_tag("#{school.image}") %>
                    <% else %>
                      <%= image_tag("img_school.png") %>
                    <% end %>
                  </span>
                  <span class="school_name">
                    <% if school.name.present? %>
                      <%= school.name %>
                    <% else %>
                      <%= "-" %>
                    <% end %>
                  </span>
                </div>
                <div class="medium-3 columns school_location_section">
                  <span class="school_loaction">
                    <span>
                      <% if school.category_zone_id.present? %>
                        <%= school.category_zone.name %>
                      <% else %>
                        <%= "-" %>
                      <% end %>
                    </span> 
                    <span>/</span>
                    <span>
                      <% if school.category_town_id.present? %>
                        <%= school.category_town.name %>
                      <% else %>
                        <%= "-" %>
                      <% end %>
                    </span>
                  </span>
                </div>
                <!-- ratings_section -->
                  <span><%= render 'shared/content_overall_avg_ratings_index', school: school %></span>
                <!-- ratings_section -->
              </div>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <!-- reviews -->

      <div class="clear"></div>
      <!-- content -->

    </div>
  </div>
</div>













