<div class="medium-12 columns header_section">

  <!-- non responsive header content -->
  <div class="header_inner_content">
    <div class="header_listed_contents">

      <!-- left_section -->
      <div class="left_section">
        <ul>
          <li class="logo_section">
            <div class="logo_cover"><%= link_to(image_tag("img_main_logo.png"), root_path) %></div>
            <div class="logo_text">your local Childcare finder</div>
          </li>
        </ul>
      </div>
      <!-- left_section -->

      <!-- right_section -->
      <div class="right_section non_responsive_header">
        <ul>
          <% if user_signed_in? %>
            <li>
              <span class="profile_menu_icon">
                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                <span>my account</span>
                <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
              </span>
              <div class="clear"></div>
              <div class="profile_menu_content">
                <ul>
                  <li><i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to "profile | #{current_user.firstname}", user_path(current_user) %></li>
                  <li><i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to "edit profile", edit_user_path(current_user) %></li>
                  <li><i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to "logout", destroy_user_session_path, method: :delete %></li>
                </ul>
              </div>
            </li>
            <li>
              <span><%= link_to "view latest ratings", latest_ratings_path %></span>
            </li>
          <% else %>
            <li>
              <span class=""><%= link_to "login", login_path %></span>
              <span class=""><%= link_to "create a free account", register_path %></span>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- right_section -->

      <!-- menu_bar -->
      <div class="menu_bar_cover">
        <div class="clear"></div>
        <div class="menu_bar">
          <ul>
            <li><%= link_to '', root_path, class: "fa fa-home" %></li>

            <li class="link"><%= link_to "babysitters", search_babysitters_path %></li>
            <li class="link"><%= link_to "childminders", search_childminders_path %></li>
            <li class="link"><%= link_to "nannies", search_nannies_path %></li>
            <li class="link"><%= link_to "au pairs", search_au_pairs_path %></li>
            <li class="link"><%= link_to "nursery nurses", search_nursery_nurses_path %></li>
            <li class="link"><%= link_to "maternity nurses", search_maternity_nurses_path %></li>
            <li class="link"><%= link_to "private midwives", search_private_midwives_path %></li>
            <li class="link"><%= link_to "household help", search_household_helpers_path %></li>
            <li class="link"><%= link_to "child carers", child_carers_path %></li>
            <li class="link last_child"><%= link_to "nurseries", schools_path %></li>
          </ul>
        </div>
      </div>
      <!-- menu_bar -->

      <!-- responsive menu icon -->
      <div class="right_section responsive_header">
        <ul>
          <li class="icon_menu">
            <%= link_to "#" do %>
              <i class="fa fa-bars" aria-hidden="true"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <!-- responsive menu icon -->
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <!-- non responsive header content -->

  

  <!-- responsive header content -->
  <div class="responsive_header_content">
    <ul>
      <li><%= link_to "home", root_path %></li>
      <li><%= link_to "about us", about_us_path %></li>
      <li><%= link_to "child carers", child_carers_path %></li>
      <li><%= link_to "nursery schools", schools_path %></li>
      <li><%= link_to "contact us", contact_us_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "profile", user_path(current_user) %></li>
        <li><%= link_to "logout", destroy_user_session_path, method: :delete, class: "last_child" %></li>
      <% else %>
        <li><%= link_to "register", register_path %></li>
        <li><%= link_to "login", login_path, class: "last_child" %></li>
      <% end %>
    </ul>
  </div>
  <div class="clear"></div>
  <!-- responsive header content -->
</div>