<!-- forms_styling.css.scss -->
<!-- content_designpg.css.scss -->
<div class="medium-12 columns content_designpg_section login_section form_general_section">
  <!-- upper_section -->
  <%= render 'shared/content_upper_content' %>
  <!-- upper_section -->

  <div class="clear"></div>

  <!-- section -->
  <div class="medium-12 columns content_section">
    <div class="content_inner_section">
      <div class="section_main_info">
        <!-- about us / our childcarers / our nurseries -->

        <!-- section -->
        <div class="medium-12 columns mini_section">
          <div class="mini_inner_section colour_turquois">
            <div class="mini_content_title form_title colour_light_turquois">Forgot your password?</div>

            <div class="mini_text_section colour_white_text">
              <div>Forgotten your Password? Not to worry, enter in your resgitered email and we will send you an email to re-set your password or you can simply just <%= link_to "contact", contact_us_path, class: "weblink" %> our admin</div>
            </div>

            <div class="form_general_inner_section forgotpassword_inner_section">
              <div class="inner_form_content">
                <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                  <%= f.error_notification %>
                  <div class="form-inputs">
                    <div class="input_section">
                      <div><%= f.input :email, required: true, autofocus: true, placeholder: "Email Address", label: false %></div>
                    </div>
                  </div>
                  <div class="form-actions">
                    <%= f.button :submit, "Send me reset password instructions" %>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section -->
</div>
